{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            Overview
                        </div>
                        <h2 class="page-title">
                            Fluid vertical layout
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                        <span class="d-none d-sm-inline">
                            <a href="#" class="btn btn-white">
                                New View
                            </a>
                        </span>
                            <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
                               data-bs-target="#modal-report">
                                Add
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Horizontal form</h3>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'course:course_post' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group mb-3 row">
                                <label class="form-label col-3 col-form-label" for="course_name">课程名称</label>
                                <div class="col">
                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                           placeholder="Enter Course Name" name="course_name" id="course_name">
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="form-label col-3 col-form-label" for="teacher_names">教师列表</label>
                                <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
                                    {% for teacher in teachers %}
                                        <label class="form-selectgroup-item flex-fill">
                                            <input type="checkbox" name="teacher_names" value="{{ teacher.teacher_name }}" id="teacher_names"
                                                   class="form-selectgroup-input">
                                            <div class="form-selectgroup-label d-flex align-items-center p-3">
                                                <div class="me-3">
                                                    <span class="form-selectgroup-check"></span>
                                                </div>
                                                <div class="form-selectgroup-label-content d-flex align-items-center">
                                                    <div>
                                                        <div class="font-weight-medium">{{ teacher.teacher_name }}</div>
                                                        <div class="text-muted">{{ teacher.teacher_id }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}