{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            课程
                        </div>
                        <h2 class="page-title">
                            新增课程
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'course:course_post' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group mb-3 row">
                                <label class="form-label col-3 col-form-label" for="course_name">课程名称</label>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Enter Course Name"
                                           name="course_name" id="course_name" required>
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="row">
                                    <span class="col">是否开课</span>
                                    <span class="col-auto">
                                    <label class="form-check form-check-single form-switch" for="course_status">
                                      <input class="form-check-input" type="checkbox" name="course_status"
                                             id="course_status" value="open">
                                    </label>
                                  </span>
                                </label>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="form-label col-3 col-form-label" for="school_name">学院</label>
                                <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column overflow-auto"
                                     style="max-height: 18rem" id="school_list">
                                    {% for school in school_list %}
                                        <label class="form-selectgroup-item flex-fill">
                                            <input type="radio" name="school_name" id="school_name"
                                                   value="{{ school.name }}" class="form-selectgroup-input" required>
                                            <div class="form-selectgroup-label d-flex align-items-center p-3">
                                                <div class="me-3">
                                                    <span class="form-selectgroup-check"></span>
                                                </div>
                                                <div class="form-selectgroup-label-content d-flex align-items-center">
                                                    <div>
                                                        <div class="font-weight-medium">{{ school.name }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group mb-3 row">
                                <label class="form-label col-form-label" for="teacher_names"
                                       id="id_teacher_names">教师列表</label>
                                <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column overflow-auto"
                                     style="max-height: 20rem" id="teacher_list">
                                    {% for teacher in teacher_list %}
                                        <label class="form-selectgroup-item" for="{{ teacher.id }}">
                                            <input type="checkbox" name="teacher_names" id="{{ teacher.id }}"
                                                   value="{{ teacher.value }}" class="form-selectgroup-input">
                                            <div class="form-selectgroup-label d-flex align-items-center p-3">
                                                <div class="me-3">
                                                    <span class="form-selectgroup-check"></span>
                                                </div>
                                                <div class="form-selectgroup-label-content d-flex align-items-center">
                                                    <div>
                                                        <div class="font-weight-medium">{{ teacher.name }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}