{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            首页
                        </div>
                        <h2 class="page-title">
                            总览
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="{% url 'user:sign_out' %}" class="btn btn-warning d-none d-sm-inline-block">
                                退出
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="row row-deck row-cards">
                    <div class="col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <span class="badge bg-red me-1 hvr-fade">Hots</span>
                                    💥热门资源排行榜
                                </h3>
                            </div>
                            <table class="table card-table table-vcenter">
                                <thead>
                                <tr>
                                    <th>资源名称</th>
                                    <th colspan="2">下载次数</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for source in hot_sources %}
                                    <tr>
                                        <td>{{ source.source_name }}</td>
                                        <td>{{ source.download_counts }}</td>
                                        <td class="w-50">
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-primary"
                                                     style="width: {{ source.download_counts }}%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <span class="badge bg-red me-1 hvr-fade">Hots</span>
                                    💥热门课程排行榜
                                </h3>
                            </div>
                            <table class="table card-table table-vcenter">
                                <thead>
                                <tr>
                                    <th>课程名称</th>
                                    <th colspan="2">选课人数</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for course in hot_courses %}
                                    <tr>
                                        <td>{{ course.course_name }}</td>
                                        <td>{{ course.students.count }}</td>
                                        <td class="w-50">
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-primary"
                                                     style="width: {{ course.students.count }}%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <span class="badge bg-red me-1 hvr-fade">Hots</span>
                                    💥课程资源排行榜
                                </h3>
                            </div>
                            <table class="table card-table table-vcenter">
                                <thead>
                                <tr>
                                    <th>课程名称</th>
                                    <th colspan="2">课程资源数量</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for course in max_courses %}
                                    <tr>
                                        <td>{{ course.course_name }}</td>
                                        <td>{{ course.sources.count }}</td>
                                        <td class="w-50">
                                            <div class="progress progress-xs">
                                                <div class="progress-bar bg-primary"
                                                     style="width: {{ course.sources.count }}%"></div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}