{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            资源
                        </div>
                        <h2 class="page-title">
                            资源列表
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="{% url 'source:source_post' %}" class="btn btn-primary d-none d-sm-inline-block">
                                上传
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap datatable">
                            <thead>
                            <tr>
                                <th>资源名字</th>
                                <th>相关课程</th>
                                <th>上传者</th>
                                <th>下载次数</th>
                                <th>上传时间</th>
                                <th>资源大小</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for source in sources %}
                                <tr>
                                    <td>{{ source.source_name }}</td>
                                    <td>
                                        {% for course in source.courses.all %}
                                            <span class="badge bg-info me-1">{{ course.course_name }}</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <span class="badge bg-success me-1">{{ source.upload_user }}</span>
                                    </td>
                                    <td>
                                        <span class="badge bg-purple me-1">{{ source.download_counts }}</span>
                                    </td>
                                    <td>
                                        <span class="badge bg-yellow me-1">{{ source.upload_time|date }}</span>
                                    </td>
                                    <td>
                                        <span class="badge bg-lime me-1">{{ source.source_file.size }} KB</span>
                                    </td>
                                    <td>
                                        <a href="{{ source.source_file.url }}" class="btn btn-primary" download id="{{ source.source_id }}" onclick="downloadCount(this)">下载</a>
                                        {% if source.upload_user == user %}
                                            <a href="{% url 'source:source_delete' source.source_id %}"
                                               class="btn btn-danger">删除</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function downloadCount(obj) {
            location.href = '{% url "source:source_download_count" %}?id=' + obj.id;
        }
    </script>
{% endblock %}