{% load static %}
<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href=".">
                <img src="{% static 'logo2.svg' %}" width="110" height="32" alt="Tabler" class="navbar-brand-image">
            </a>
        </h1>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav pt-lg-3">
                <li class="nav-item {% if page == 'home' %} active {% endif %}">
                    <a class="nav-link" href="{% url 'home:index' %}">
                        <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            首页
                        </span>
                    </a>
                </li>
                <li class="nav-item {% if page == 'class' %} active {% endif %}">
                    <a class="nav-link" href="">
                        <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/file-text -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-friends"
                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="7" cy="5" r="2"></circle>
                                <path d="M5 22v-5l-1 -1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5"></path>
                                <circle cx="17" cy="5" r="2"></circle>
                                <path d="M15 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4"></path>
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            班级
                        </span>
                    </a>
                </li>
                <li class="nav-item {% if page == 'course' %} active {% endif %} dropdown" id="course-li">
                    <a class="nav-link dropdown-toggle" role="button" aria-expanded="true" {% if page != 'course' %} onclick="courseClick()" {% endif %}>
                        <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/file-text -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list"
                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"></path>
                                <rect x="9" y="3" width="6" height="4" rx="2"></rect>
                                <line x1="9" y1="12" x2="9.01" y2="12"></line>
                                <line x1="13" y1="12" x2="15" y2="12"></line>
                                <line x1="9" y1="16" x2="9.01" y2="16"></line>
                                <line x1="13" y1="16" x2="15" y2="16"></line>
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            课程
                        </span>
                    </a>
                    <div class="dropdown-menu {% if page == 'course' %} show {% endif %}" id="course-menu">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item {% if sub_page == 'course_list' %} active {% endif %}"
                                   href="{% url 'course:course_list' %}">课程列表</a>
                                <a class="dropdown-item {% if sub_page == 'course_post' %} active {% endif %}"
                                   href="{% url 'course:course_post' %}">增加课程</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item {% if page == 'source' %} active {% endif %} dropdown" id="source-li">
                    <a class="nav-link dropdown-toggle" role="button" aria-expanded="true" {% if page != 'source' %}
                       onclick="sourceClick()" {% endif %}>
                        <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/file-text -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                <line x1="9" y1="9" x2="10" y2="9"></line>
                                <line x1="9" y1="13" x2="15" y2="13"></line>
                                <line x1="9" y1="17" x2="15" y2="17"></line>
                            </svg>
                        </span>
                        <span class="nav-link-title">
                            资源
                        </span>
                    </a>
                    <div class="dropdown-menu {% if page == 'source' %} show {% endif %}" id="source-menu">
                        <div class="dropdown-menu-columns">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item {% if sub_page == 'source_list' %} active {% endif %}"
                                   href="{% url 'source:source_list' %}">资源列表</a>
                                <a class="dropdown-item {% if sub_page == 'source_post' %} active {% endif %}"
                                   href="{% url 'source:source_post' %}">上传资源</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>

{% block script %}
    <script type="text/javascript">
        function sourceClick() {
            let sourceMenu = document.getElementById("source-menu");
            if (sourceMenu.className === "dropdown-menu show") {
                sourceMenu.className = "dropdown-menu";
            } else {
                sourceMenu.className = "dropdown-menu show";
            }
        }
    </script>
    <script type="text/javascript">
        function courseClick() {
            let sourceMenu = document.getElementById("course-menu");
            if (sourceMenu.className === "dropdown-menu show") {
                sourceMenu.className = "dropdown-menu";
            } else {
                sourceMenu.className = "dropdown-menu show";
            }
        }
    </script>
{% endblock script %}