{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- Page title -->
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <div class="page-pretitle">
                            私信
                        </div>
                        <h1>
                            {{ message.title }}
                        </h1>
                        <h2>
                            <span class="badge bg-info me-1 hvr-fade">{{ message.send_time }}</span>
                            <span class="badge bg-teal me-1 hvr-fade">from：{{ message.send }}</span>
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a href="{% url 'user:message_post' %}" class="btn btn-primary d-none d-sm-inline-block">
                                回复
                            </a>
                            <a href="{% url 'user:user_info' user.id %}" class="btn btn-secondary d-none d-sm-inline-block">
                                返回
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-body">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-xl-12">
                        <div class="card card-lg">
                            <div class="card-body markdown">
                                {{ message.body|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
